<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.einz.solnetcs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SolnetCS">

        <activity android:name=".ui.cust.inactive_ticket.InactiveTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.setting.ChangePhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.setting.ChangeAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.setting.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.info.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.CustChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.helpdesk.HelpdeskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.new_ticket.NewTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.active_ticket.ActiveTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cust.customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>